body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  cursor: pointer;
}

.task-item.completed {
  text-decoration: line-through;
}

.delete-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.add-task-container,
.tasks-list-container {
  width: 50%;
  height: 100vh;
  display: flex;
  margin: auto;
}

.add-task-container {
  background-color: teal;
}

.tasks-list-container {
  background-color: rgba(0, 128, 128, 0.609);
}

.add-task,
.tasks-list {
  width: 80%;
  margin: auto;
}

.tasks-list-items {
  height: 50vh;
  overflow-y: auto;
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-task button {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 0;
  transition: .5s all;
}

.add-task button:hover {
  box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.add-task button:active {
  transform: scale(0.9);
}

.add-task input {
  width: 60%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

.tasks-list p {
  font-size: 23px;
}